.red {
 	background-color: #cc0000;   
}

.or {
 	background-color: #ff9966;   
}
.grad {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

























































div {
    width:100px;
    height:100px;
    border: 1px solid black;
    float:left;
    padding: 1px;
    text-align:center;
}